<!DOCTYPE html>
<html>
<head>
<title>Checkout</title>
<style>
body{font-family:Poppins;background:#ffb6d9;color:white;}
form{background:white;padding:20px;color:#ff69b4;width:300px;margin:auto;}
input{width:100%;margin:5px;}
button{background:#ff69b4;color:white;}
</style>
</head>
<body>

<h1>Checkout 🍰</h1>

<form method="POST">
{% csrf_token %}
<input type="text" name="name" placeholder="Full Name">
<input type="email" name="email" placeholder="Email">
<input type="text" name="address" placeholder="Address">
<button type="submit">Submit Order</button>
</form>

</body>
</html>